.welcome{
    padding: 8px*4;
    h1{
        font-size: 8px*4.5;
        font-weight: normal;
    }
    p{
        margin-top: 8px;
        font-size: 8px*3;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.5);
    }
}
.quick-menus{
    display:grid;
    .quick-menu{
        display:grid;
        grid-template-columns: 8px*5 auto 8px*5;
        align-items:center;
        gap: 8px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: none;
        padding: 8px*1 8px*1;
        transition-duration: 0.2s;
        &:last-of-type{
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        &:hover{

        background-color: rgba(0, 0, 0, 0.05);
        transition-duration: 0.2s;
        transition-delay: 0.1s;
            .menu-action{
                transform: translateX(4px);
                transition-duration: 0.2s;
                transition-delay: 0.1s;
            }
        }
        .menu-icon{
            height: 8px*5;
            width: 8px*5;
            background-image: url('../../src/media/images/icons/Icon\ awesome-box.svg');
        }
        .menu-title{
            font-size: 8px*2.2;
        }
        .menu-action{
            height: 8px*4;
            width: 8px*4;
            transition-duration: 0.2s;
            transition-delay: 0.1s;
            
            background-image: url('../media/images/icons/ios-arrow-front__green.svg')
        }
    }
}
.developed-at-apeiro{
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 8px*2;
}