
.allProducts{
    .product{
        display: grid;
        grid-template-columns: 8px*8 auto;
        padding: 8px*2;
        gap:8px*2;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255,0);
        &:last-child{
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .product-image{
            background-color: green;
            padding-top: 150%;;
        }
        .product-details{
            .product-name{
                font-weight: bold;
            }
            .product-attributes{
                display: flex;
                margin-top: 8px;
                gap: 8px*0.5;
                color: rgba(0, 0, 0, 0.6);
                font-size: 8px*1.5;
            }
        }
    }
}